  /* If you want the content centered horizontally and vertically */
.centered {
  text-align: center;
  height: 650px;
  position:relative;
  overflow-y: scroll;
}

.bottom {
  position: absolute;
  top: 90%;
}