.borderStyle {
  border-style: solid !important;
}

.a {
  flex-wrap: inherit !important;
  position: fixed;
  bottom: 10px;
  top: 10px;
}


.container {
  max-width: 96% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}